
    @if (User.Identity.IsAuthenticated)
{
    <li class="nav-item mx-3">
        <a class="btn btn-outline-secondary">@User.Identity.Name</a>
    </li>
    <li class="nav-item">
        <a asp-page="/Account/Logout" class="btn btn-secondary">Logout</a>
    </li>

}
else
{
    <li class="nav-item">
        <a asp-page="/Account/Login" class="btn btn-secondary">Log In</a>
    </li>
}

