@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">We<span class="text-secondary">L</span>come</h1>

    <img src="~/images/brainstorming.png" />

</div>
<div class="container ">
    @if (!User.Identity.IsAuthenticated)
    {
        <div class="row">
            <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-info bg-gradient w-25 m-auto">Register</a>    
        </div>
    }
</div>
